.mia-name, .mia-name:link, .mia-name:visited, .mia-name:hover, .mia-name:active {
    color: #424242;
    font-size: large;
    text-decoration: none;
}

.mia-page {
  max-width: 960px;
}

.mia-path-nav {
  max-height: 40px;
}

.mia-main-text {
  font-size: 1.1rem;
  font-weight: 350;
}

.mia-main-text-bold {
  font-size: 1rem;
  font-weight: 500;
}

.mia-table-text {
  font-size: 1rem;
  font-weight: 350;
}

.mia-table-text-bold {
  font-size: 1rem;
  font-weight: 500;
}

.mia-section-title {
  font-size: 2rem;
  font-weight: 350;
}

.mia-card-container {
  max-width: 960px;
}

.mia-description {
  font-size: 1.3rem;
  font-weight: 350;
}

.mia-path {
  font-size: 1.2rem;
  font-weight: 350;
}

.mia-card-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.card-body {
  font-size: 1rem;
  font-weight: 350;
}

.mia-card {
  min-width: 18rem;
  max-width: 18rem;
}

.mia-card-footer {
  border:none;
}

.mia-text-container {
  max-width: 960px;
}

.navbar {
  -webkit-box-shadow: 0 8px 0px 0px #aaa;
  -moz-box-shadow: 0 8px 0px 0px #aaa;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, .05);

  /* the rest of your styling */
}

.page-header {
  max-width: 700px;
}
   
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
   
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

footer {
    background-color: #424242;
}
