.factorypath
.classpath
.project
.settings/

*~
bin/*
target/*
!target/site
target/site/*
!target/site/dependencies.html
!target/site/images/
models/*
lib/*
*/target/*

*.log
.vscode/settings.json
lib/macosx/.crashed
**/.DS_Store