body {
    background: #f2f2f2;
  }
  
  .navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
  .dropdown-menu {
    margin-top: 0;
  }
  