.mia-name, .mia-name:link, .mia-name:visited, .mia-name:hover, .mia-name:active {
    color: #424242;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

.mia-page {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

.mia-card-container {
  max-width: 960px;
}

.mia-card {
  min-width: 18rem;
  max-width: 18rem;
}

.mia-card-footer {
  border:none;
}

.mia-text-container {
  max-width: 960px;
}

.navbar {
  -webkit-box-shadow: 0 8px 0px 0px #aaa;
  -moz-box-shadow: 0 8px 0px 0px #aaa;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, .05);
}

.nav-link {
  font-size: 1rem;
  font-weight: 350;
}

.mia-nav-button {
  font-size: 1rem;
  font-weight: 350;
}

.page-header {
  max-width: 700px;
}
   
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}
   
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

.card-header {
  padding: 0.5rem 1.25rem;
}

.card-body {
  padding: 0.5rem 0.75rem 0rem;
}

.mia-card-button {
  padding:0.2rem;
}

.mia-title-small {
  font-size: 1.3rem;
  font-weight: 350;
  margin-bottom: 0;
}

.mia-title {
  font-size: 1.8rem;
  font-weight: 350;
}

.mia-heading {
  font-size: 1.4rem;
  font-weight: 350;
}

.mia-main-text-small {
  font-size: 0.8rem;
  font-weight: 350;
}

.mia-main-text {
  font-size: 1rem;
  font-weight: 350;
}

.mia-main-text-large {
  font-size: 1.1rem;
  font-weight: 350;
}

.mia-bold {
  font-weight: 500;
}

.mia-carousel-indicators {
  display: none;
}

.mia-carousel-button {  
  margin-bottom: 0.2rem;
  padding: .2rem .375rem;
}

.mia-carousel-caption {
  /* bottom:-10px; */
  backdrop-filter: blur(2px);
  bottom:0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width:100%;
  left: 0;
  background: rgba(255,255,255, 0.5);
}

.mia-carousel-title {
  font-size: 1.3rem;
  font-weight: 350;
  margin-bottom: 0;
  padding: 0;
  color:#424242;
}

.mia-carousel-text {
  font-size: 0.8rem;
  font-weight: 350;
  color:#424242;
}

.mia-home-link-container {
  width:100%
}

.mia-home-link-logo {
  height: 48px;
}

.mia-home-link-text {
  font-size: 1rem;
  font-weight: 350;
  color: #424242;
  margin-top: 0.8rem;
}

.mia-footer {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mia-footer-logo {
  height: 32px;
}

.mia-mobile {
  display:flex;
}

.mia-desktop {
  display: none;
}

.mia-screenshot {
  max-width: 100%;
}

footer {
    background-color: #424242;
}

@media (min-width: 640px) { 
  .mia-carousel-button {padding: .375rem .375rem;}
  .mia-carousel-indicators {display:flex}

  .card-header {padding: 0.75rem 1.25rem;}
  .card-body {padding: 1.25rem;}
  .mia-card-button {padding:0.5rem 1rem;}

  .mia-carousel-title {font-size:3rem;}
  .mia-carousel-text {font-size: 1.2rem;}
  .mia-footer {margin-top: 1.5rem; margin-bottom: 1.5rem}
  .mia-footer-logo {height: 48px;}
  .mia-heading {font-size:2rem;}
  .mia-home-link-container {width:90% }
  .mia-home-link-logo {height: 96px; }
  .mia-home-link-text {font-size: 1.5rem; margin-top: 0.8rem;}
  .mia-main-text-small {font-size: 1rem;}
  .mia-main-text {font-size: 1.1rem;}
  .mia-main-text-large{ font-size: 1.3rem;}
  .mia-title {font-size:2.6rem;}
  .mia-mobile {display:none;}  
  .mia-desktop {display: flex;}

  .mia-screenshot {max-width: 75%;}
}
