.mia-name, .mia-name:link, .mia-name:visited, .mia-name:hover, .mia-name:active {
    color: #424242;
    font-family: 'Calibri';
    font-size: large;
    text-decoration: none;
}
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

  .dropdown-menu {
    margin-top: 0;
  }

footer {
    background-color: #424242;
}